build
.cache
.eslintcache
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.yarn-integrity
*.env
*.log
*.pid
*.pid.lock
*.seed
*.tgz
bower_components
coverage
etc
lib-cov
node_modules/
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*